<div id="myForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                <h4 class="modal-title">New Task</h4>
            </div>
            <%= simple_form_for @task, remote: true, html: { multipart: true} do |f| %>
            <div class="modal-body">
                <div class="control-group">
                    <label>Title</label>
                    <div class="controls">
                        <%= f.input :title, as: :string, label: false, :class => 'form-control', :placeholder => "Enter Title" %>
                    </div>
                </div>
                <div class="control-group">
                    <label>Choose Time</label>
                    <div class="controls">
                        <%= f.input :note, as: :text, label: false, :class => 'form-control', :placeholder => "Enter Note" %>
                    </div>
                </div>
                <div class="control-group">
                    <label>Choose Time</label>
                    <div class="controls">
                        <%= f.input :completed, input_html: {class: 'datepicker'}, label: false, :class =>'form-control', :placeholder => "Enter Complete Time" %>
                    </div>
                </div>

                <div class="control-group">
                    <label>Choose File</label>
                    <div class="controls">
                        <%= f.file_field :photo, {id: "file-select"} %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <% end %>
        </div>
    </div>
</div>